<div class="list row">
  <div class="col-md-6">

    <div class="col-md-12">
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" [responsive]="true"></pagination-controls>
    </div>

    <h4>Animales</h4>
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let animal of animals | paginate : {
        itemsPerPage: pageSize, currentPage: page, totalItems: count
      }; let i = index" [class.active]="i == currentIndex" (click)="setActiveAnimal(animal, i)">
        {{ animal.name }}
      </li>
    </ul>
  </div>
  <div class="col-md-6">
    <app-animal-details [viewMode]="true" [currentAnimal]="currentAnimal"></app-animal-details>
  </div>
</div>