<div class="layout">
  <div class="list-space">
    <h1>Listado de animales</h1>
    <div>
      <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" [responsive]="true"
        (pageChange)="handlePageChange($event)"></pagination-controls>
    </div>
    <div class="me-5 mb-3 align-self-end">
      Items per Page:
      <select (change)="handlePageSizeChange($event)">
        <option *ngFor="let size of pageSizes" [ngValue]="size">
          {{ size }}
        </option>
      </select>
    </div>
    <div class="w-75">
      <ul class="list-group bg-secondary flex-grow-1">
        <li class="list-group-item text-center" *ngFor="let animal of animals | paginate : {
          itemsPerPage: pageSize, currentPage: page, totalItems: count
        }; let i = index" [class.active]="i == currentIndex" (click)="setActiveAnimal(animal, i)">
          <div class="d-flex align-items-center justify-content-between">
            <div class="img-thumbnail">
              <img style="width: 50px; height: 50px; object-fit: cover;"
                src="../../../assets/alvan-nee-eoqnr8ikwFE-unsplash.jpg" alt="">
            </div>
            <div>
              <strong>{{ animal.name }}</strong> - {{animal.breed}} - {{animal.age}} año(s)
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="card-space pt-5">
    <app-animal-details [viewMode]="animalSelected" [currentAnimal]="currentAnimal"></app-animal-details>
  </div>
  <div class="requests-space">
    Requests
  </div>
</div>