.layout {
  height: 85vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.list-space {
  min-height: 600px;
  flex: 1 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-space {
  min-height: 600px;
  flex: 1 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requests-space {
  min-height: 600px;
  flex: 1 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}