.layout {
  background: red;
  height: 85vh;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between
}

.list-space {
  background: yellow;
  min-height: 600px;
  flex: 1 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-space {
  background: green;
  min-height: 600px;
  flex: 1 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.requests-space {
  background: cadetblue;
  min-height: 600px;
  flex: 1 0 400px;
}