.submit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}

.layout {
  height: 70vh;
  display: flex;
}

.form {
  flex: 1 1 300px;
  justify-content: center;
  display: flex;
}

.template {
  height: 70%;
  flex: 0 1 350px;
}