.submit-form {
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 30px;
}

.layout {
  background: red;
  height: 70vh;
  display: flex;
}

.form {
  background: green;
  flex: 1 1 300px;
  justify-content: center;
  display: flex;
}

.template {
  background: yellow;
  flex: 1 1 300px;
}